.button-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.button,
.button-hover {
    display: block;
}

.button-hover {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.15s ease;
}

.button-container:hover .button-hover {
  opacity: 1;
}

.button-container:active {
  transform: translateY(4px);
}

  .button-text {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        margin: 0;
        font-family: "Micro 5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
        color: #5E592E;
  }

  .button-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

  .button-2-text {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        margin: 0;
        font-family: "Micro 5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 54px;
        color: #85391B;
  }

  .button-e-text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #5E512E;
}

.button-f-text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #5E592E;
}

.home-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-top: 7px;
}

  .text-box-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.text-box{
    display: block;
}

  #box-text {
        position: absolute;
        top: 50%;
        left: 52%;

        transform: translate(-50%, -50%);

        margin: 0;
        font-family: "Micro 5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 29px;
        color: #6E5340;
        line-height: .8;
        width: 435px;
  }

  .quiz-text-box-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 150px;
}

.quiz-text-box{
  display: block;
}

#quiz-box-text {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      margin: 0;
      font-family: "Micro 5", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 29px;
      color: #6E5340;
      line-height: .8;
      width: 350px;
}