body {
    margin: 0;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #FFECDB;
  }
  
  .question-app {
    width: 729px;
    height: 871px;
    box-sizing: border-box;
    padding-bottom: 70px;
    border-radius: 10px;
  
    background: #EADBA9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
.question-header {
    width:100%;
}
  .question-header-top{ 
    height: 75px;
    background-color: #FFDBAA;
  }

  .question-header-shadow {
    height: 8px;
    background-color: #E8C698;
  }

  .home-main {
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
  }

  .home-main-decor {
    height:auto;
    width:35px;
  }

  .home-foot-decor {
    width: 600px;
  }

  .home-main-content {
    display:flex; 
    gap:22px;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .question-background {
    width: 72%;
    height: 330px;
    /* background-color: #F4E9C2; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quiz-background {
    width: 90%;
  }