body {
    margin: 0;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #FFECDB;
  }
  
  .card-container{
    position: relative;
    width: 729px;
    height: 871px;
  }

  .card-active{
    width: 729px;
    height: 871px;
    box-sizing: border-box;
    padding-bottom: 70px;
    border-radius: 10px;
  
    background: #EADBA9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .card {
    position: absolute;
    top:0;
    left:0;
    inset: 0;

    width: 729px;
    height: 871px;
    box-sizing: border-box;
    padding-bottom: 70px;
    border-radius: 10px;
  
    background: #EADBA9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); */
}

.quiz-main {
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.quiz-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small_heart_2 {
    width: 54px;
    height: 40px;
}

.quiz-header-text {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #8A834C;
    margin: 0;
}

.quiz-buttons {
    margin-top: 45px;;
    display:flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width:65%;
}

.quiz-main-content {
    margin-top: 20px;
    width: 90%;
    height: 500px;
    position: relative;
    display: inline-block;
}

.question-background-2 {
    position: absolute;
    top: 80px;
    left: 55px;
    width: 35%;
    height: 330px;
    display: block;
  }

.quiz-content-container {
    position: absolute;
    top: 0;
    left: 0;
}

.quiz-lower-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0px 30px 10px;
}

.quiz-character {
    width: auto;
    height: 300px;
}

.answer-container {
    position: relative;
    display: inline-block;
    /* display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    width: 270px;
    height: 340px;
    /* background-color: white; */
}

.answer-content {
    position: absolute;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
}

.answer-text{
    align-self: center;
    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 29px;
    color: #6E5340;
}

.answer-box {
    display: block;
    width: 100%;
}

input {
    width: 160px;
    padding: 10px 16px;

    border: 3px solid #93906B;
    border-radius: 0px;

    font-size: 1rem;

    background-color: #f4f7e2;
}

input:focus {
    outline: none;
    border-color: #FFB480;
    background-color: #fce8cd;
}