body {
    margin: 0;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #FFECDB;
  }

  .quiz-container {
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start;
    width: 100%;
  }

  .quiz-main-decor {
    height: 650px;
    width: 35px;
    padding-top: 122px;
    opacity: 0.7;
  }
  
  .card-container{
    position: relative;
    width: 729px;
    height: 871px;
  }

  .card-active{
    width: 729px;
    height: 871px;
    box-sizing: border-box;
    padding-bottom: 70px;
    border-radius: 10px;

    position: absolute;
  
    background: #efe0b1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  .card {
    position: absolute;
    top:0;
    left:0;
    inset: 0;

    width: 729px;
    height: 871px;
    box-sizing: border-box;
    padding-bottom: 70px;
    border-radius: 10px;
  
    background: #f0e1b1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); */
}

.quiz-main {
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%; 
}

.quiz-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin-top: 40px;
}

.small_heart_2 {
    width: 44px;
    height: 30px;
}

.quiz-header-text {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #aba476;
    margin: 0;
    line-height: 0%;
}

.quiz-buttons {
    margin-top: 45px;;
    display:flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width:65%;
}

.quiz-main-content {
    margin-top: 20px;
    width: 90%;
    height: 500px;
    position: relative;
    display: inline-block;
}

.question-background-2 {
    position: absolute;
    top: 80px;
    left: 55px;
    width: 35%;
    height: 330px;
    display: block;
  }

.quiz-content-container {
    position: absolute;
    top: 0;
    left: 0;
}

.quiz-lower-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 0px 0px 10px;
}

.quiz-character {
    width: auto;
    height: 335px;
}

.answer-container {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 340px;
}

.answer-content {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* top: 8%; */
    left: 0;
    width: 100%;
    height: 100%;
}

.answer-text{
    align-self: center;
    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 29px;
    color: #917765;
}

.answer-box {
    display: block;
    width: 100%;
    margin-bottom: 20px;;
}

input {
    width: 165px;
    padding: 7px 16px;

    border: 3px solid #b1ae88;
    border-radius: 0px;

    font-size: 1rem;

    background-color: #f8fbe9;
}

input:focus {
    outline: none;
    border-color: #FFB480;
    background-color: #fce8cd;
}

.quiz-app {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.quiz-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    width: 27%;
}

.position-marker {
    width: 40px;
}

.layered-background {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.layered-effect {
    position: absolute;
    top: 12%;
    left: 24%;
    width: 940px;
    height: 660px;
    background-color: #c9be99;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    z-index: 1;
}

.arrow-buttons {
    position: absolute;
    top: 12%;
    left: 24%;
    width: 880px;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    justify-content: space-between;
    z-index: 2;
}

.arrow-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}